# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv/
ENV/

#Test files
test.py
test.pickle

#Html files
*.html

#Downloaded Pages
/project/crawler/files/*.pickle
/project/crawler/files/*.pickle

#Data
/data
