# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv/
ENV/

#Test file
test.py

#Html files
*.html

#Downloaded Pages
/project/crawler/files/*.pickle
/project/crawler/files/*.pickle
